*{
  font-family: lato;
}
.top-bar-slogan{
  text-transform:uppercase;
  padding:10px;
  border-top:solid #8BC34A;
  border-bottom:solid #8BC34A;
  margin-bottom:15px;
  text-align:center;
  background: darkgreen;
  color:white;
}


input {
  display: none;
}

.clrbutton {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 20px;
  cursor: pointer;
}

.clrbutton span {
  display: block;
  position: absolute;
  width: 80px;
  height: 40px;
  padding: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5%;
  background: #eeeeee;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
  transition: ease .3s;
}

.clrlayer {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  /*transition: ease .3s;*/
  z-index: -1;
}

.clrbutton span:hover {
  padding: 25px;
}

    .recycler-price {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
    label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
    }
    label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    }
    label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
      border:2px solid white;
      border-radius: 5px;
    }

    @import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') .funkyradio div {
        clear: both;
        /*margin: 0 50px;*/
        overflow: hidden;
    }
    .funkyradio label {
        /*min-width: 400px;*/
        width: 100%;
        color: white;
        border-radius: 3px;
        border: 1px solid #D1D3D4;
        font-weight: normal;
    }
    .funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
        display: none;
    }
    .funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 2em;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        content:'';
        width: 2.5em;
        /*background: red;*/
        border-radius: 3px 0 0 3px;
        color: white;
    }
    .funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
        content:'\2714';
        text-indent: .9em;
        color: white;
    }
    .funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
        color: white;
    }
    .funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
        content:'\2714';
        text-indent: .9em;
        color: white;
        background-color: #ccc;
    }
    .funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
        color: white;
    }
    .funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
        box-shadow: 0 0 0 3px #999;
    }
    .funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
        color: white;
        background-color: #1655a6;
    }
    .funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
        color: #fff;
        background-color: #1655a6;
    }
    .funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
        color: #fff;
        background-color: #5cb85c;
    }
    .funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
        color: #fff;
        background-color: black;
    }
    .funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
        color: #fff;
        background-color: red;
    }
    .funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
        color: #fff;
        background-color: #5bc0de;
    }

    .nav>li>a {
      position: relative;
      display: block;
      padding: 20px 15px;
      border-radius: 0px !important;
    }

    .h4 {
        color: #484848;
        margin-top: 10px;
        margin-bottom: 5px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        display: block;
    }

    a.btnsell {
        background: #ffb600;
        box-shadow: inset -1px 1px 1px #EEb600,0 0 1px #505;
        border-radius: 2px;
        padding: 5px 10px;
        text-shadow: -1px 1px 1px #e38201;
        width: 80%;
        border: 1px solid #c48c00;
        max-width: 150px;
    }

    a.btnsell:hover {
        box-shadow: inset -1px 1px 1px #888,0 0 1px #555;
        border: 1px solid #444;
        text-shadow: -1px 1px 1px #444;
    }
    @media (max-width: 786px){
      .top-bar-slogan{
        text-transform:uppercase;
        padding:10px;
        border-top:solid #8BC34A;
        border-bottom:solid #8BC34A;
        margin-bottom:15px;
        text-align:center;
        background: darkgreen;
        color:white;
      }

      .nav-pills>li {
          float: left;
      }
      .nav-pills {

      }
      .nav>li>a {
        padding: 13px 18px;
        margin-bottom: 0px;
        font-size: 13px;
        position: relative;
        display: inline-block;
      }
    }
    /* Blink for Webkit and others
(Chrome, Safari, Firefox, IE, ...)
*/

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
#blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.9s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
