@charset "utf-8";
/* CSS Document */
*{
	font-family: lato;
}
body{
	font-family:lato,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
}
.full-width{
width: 100%;
}
@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.3;}
}
#blink{
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}
/* hoooooo */
/* Hiding the checkbox, but allowing it to be focused */
.badgebox
{
    opacity: 0;
}
/*----------------------------myworkss*/
.main-heading{
text-align: center;
font-family: Anton;
/*padding: 0 20px;*/
text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
font-size: 46px;
text-transform: uppercase;
margin: 50px 0 ;
letter-spacing: -0.0040em;
line-height: 46px;
font-weight: bold;
color: white;
}
.sub-heading{
text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
font-size: 17px;
line-height: 17px;
font-weight: bolder;
text-align: center;
margin: 20px;
letter-spacing: 0.01em;
padding: 0;
text-transform: uppercase;
color: white;
}
.logo-text{
	font-size: 20px;
	color: white;
	text-align:center;
}
.logo-img{

	width: 100%;
max-width: 130px;
display: inline-block;
transition: all .2s ease-in-out;
vertical-align: top;
filter: drop-shadow(1px 1px 0 rgba(0,0,0,0.15));
color: #fff;
font-size: 15px;
line-height: 15px;
font-weight: bold;
letter-spacing: -0.05em;
text-transform: uppercase;
margin: 0 auto;
text-align:center;
}
.search-input{
	display: block;
width: 100%;
box-sizing: border-box;
background: #fff;
font-size: 27px;
line-height: 35px;
padding: 10px;
display: inline-block;
border: 1px solid #ccc;
box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15);
font-weight: bold;
letter-spacing: -0.055em;
vertical-align: bottom;
text-align: left;
}
.merchant-logo{

display: inline-block;

width: 12%;

text-align: center;

padding: 5px 0;
}
.merchant-image{
	display: inline-block;
margin: 0 auto;
width: 100%;
max-width: 75px;
height: auto;
font-size: 10px;
overflow: hidden;
text-indent: 0;
text-transform: uppercase;
text-align: center;
line-height: 10px;
}
.partners{
	border-radius: 10px;
	background: #f3f3f3;
	padding: 10px;
	margin: 35px 0 0 0 ;
}
.who-we-are{
	padding: 50px;
}
.details-now{
	background: #1655a6;
}
span.display-8{
	margin:10px;
}
/*----------------------------myworkss*/
.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}

/* radio */
@import('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css') .funkyradio div {
		clear: both;
		/*margin: 0 50px;*/
		overflow: hidden;
}
.funkyradio label {
		/*min-width: 400px;*/
		width: 100%;
		border-radius: 3px;
		border: 1px solid #605555;
		font-weight: normal;
		/*line-height: 2.5em;*/
}
.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
		display: none;
}
.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty ~ label {
		position: relative;
		/*line-height: 2.5em;*/
		color: black;
		/*text-indent: 3.25em;*/
		margin-top: 2em;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty ~ label:before {
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		content:'';
		width: 2.5em;
		background: black;
		border-radius: 3px 0 0 3px;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
		content:'\2714';
		text-indent: 0em;
		/*line-height: 2.5em;*/
		color: #00a8c5;
		/*padding-top:12px;*/
		/*border: 1px solid black;*/
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label, .funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
		color: #00a8c5;

}
.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked ~ label:before {
		content:'\2714';
		text-indent: 0em;
		color: #333;

		background-color: #ccc;
}
.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked ~ label {
		color: #00a8c5;

}
.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus ~ label:before {
		box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before, .funkyradio-default input[type="checkbox"]:checked ~ label:before {
		color: #00a8c5;
		background-color: #1655a6;

}
.funkyradio-primary input[type="radio"]:checked ~ label:before, .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
		color: black;
		/*padding-top:15px;*/
		background-color: #00a8c5;
}
.funkyradio-success input[type="radio"]:checked ~ label:before, .funkyradio-success input[type="checkbox"]:checked ~ label:before {
		color: #fff;
		background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before, .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
		color: #fff;
		background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before, .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
		color: #fff;
		background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before, .funkyradio-info input[type="checkbox"]:checked ~ label:before {
		color: #fff;
		background-color: #5bc0de;
}
/* NAV BAR TOP AREA */
.navclass {
	padding:10px;margin-top:0px;margin-bottom:-1px;background: white;
}

.brandlogo {
	font-size: 22px;
	padding-left:5px;padding-right:5px;
	font-weight:bold;
}

.topslogan {
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	color:#241815;
	margin-left:0px;
	font-size:17px;
	font-weight:lighter;
	text-transform:uppercase;
}

.toprightinfo {
	font-size: 17px;
	font-family: 'Open Sans';
	font-weight:lighter;
	padding-left:0px;
	padding-right:0px;
}

.whatsappimg {
	width: 25px;
	height: 25px;
}

.navbtn {
	font-weight:normal;font-size:15px;padding-top:5px;padding-bottom:5px;margin-bottom:0px;margin-top:0px;
	text-align: center;
}

.tabtitle {
	font-size:15px;font-weight:bold;
}

.searchboxheading {
	font-size:25px;
	font-family: ;color:#191919;font-weight:bold;
}

.headingtitle {
	font-size:30px;margin-top:10px;padding-top:10px;padding-bottom:10px;padding-left:0px;padding-right:0px;
}
.container4 {
	width:400px;height:50px;
	font-size: 15px;
}
.containerbtn {
	width:400px;
	font-size: 15px;
}
.details {
	font-size:18px;
}


/* footer */
.fixed-bottom-footer {
  height: auto;
  bottom: 0;
  width: 100%;
	background:rgba(255,255,255,0.9) !important;
	text-align:center;
	border-top:1px solid gray;
}

/*// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}*/

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
	/* NAV BAR TOP AREA */
	.navclass {
		padding:10px;margin-top:10px;margin-bottom:-15px;background: white;
	}

	.brandlogo {
		font-size: 22px;
		padding-left:5px;padding-right:5px;
		font-weight:bold;
	}

	.topslogan {
		padding-top:8px;
		padding-bottom:8px;
		padding-left:0px;
		padding-right:0px;
		color:#241815;
		margin-left:0px;
		font-family: 'Open Sans';
		font-size:16px;
		font-weight:lighter;
		text-transform:uppercase;
	}

	.toprightinfo {
		font-size: 14px;font-weight:bold;
		padding-left:5px;padding-right:5px;
	}
	.whatsappimg {
		width: 32px;
		height: 32px;
	}

	.navbtn {
		font-weight: bold;font-size:15px;padding-top:5px;padding-bottom:5px;margin-bottom:0px;margin-top:0px;
		text-align: center;
	}

	.searchboxheading {
		font-size:33px;
		color:#191919;font-weight: bold;
	}

	.headingtitle {
		font-size:26px;margin-top:8px;padding-top:8px;padding-bottom:8px;padding-left:13px;padding-right:13px;
	}

	.container4 {
		width:400px;height:50px;
		font-size: 14px;
	}
	.containerbtn {
		width:400px;
		font-size: 14px;
	}
	.details {
		font-size:16px;
	}

	/* footer */
	.fixed-bottom-footer {
	  height: auto;
	  bottom: 0;
	  width: 100%;
		background-color:dimgray !important;
		text-align:center;
		border-top:1px solid gray;
	}
}

.comparebox{
	border:4px solid black;border-radius:1em;margin:0 70px;padding:10px 0;
}
	
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
	.comparebox{
	border:0px solid black;border-radius:0em;margin:0px;padding:0;
}
	/* NAV BAR TOP AREA */
	.navclass {
		padding:10px;margin-top:-15px;margin-bottom:-10px;
	}

	.brandlogo {
		font-size: 20px;
		padding-left:5px;padding-right:5px;
		font-weight:bold;
	}

	.topslogan {
		padding-top:8px;
		padding-bottom:8px;
		padding-left:0px;
		padding-right:0px;
		color:#241815;
		margin-left:0px;
		font-family: 'Open Sans';
		font-size:15px;
		font-weight:lighter;
		text-transform:uppercase;
	}

	.toprightinfo {
		font-size: 13px;font-weight:bold;
		padding-left:3px;padding-right:3px;
	}
	.whatsappimg {
		width: 30px;
		height: 30px;
	}

	.navbtn {
		font-size:15px;padding-top:5px;padding-bottom:5px;margin-bottom:0px;margin-top:0px;
		text-align: center;
	}

	.searchboxheading {
		font-size:30px;color:#191919;font-weight: bold;
	}

	.headingtitle {
		font-size:22px;margin-top:5px;padding-top:4px;padding-bottom:5px;padding-left:10px;padding-right:10px;
	}
	.container4 {
		width:400px;height:50px;
		font-size: 13px;
	}
	.containerbtn {
		width:400px;
		font-size: 13px;
	}
	.details {
		font-size:14px;
	}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	.comparebox{
	border:0px solid black;border-radius:0em;margin:0px;padding:0;
}
	/* NAV BAR TOP AREA */
	.navclass {
		padding:15px;margin-top:-10px;margin-bottom:-10px;text-align: center;
	}

	.brandlogo {
		font-size: 20px;
		padding-left:5px;padding-right:5px;
		font-weight:bold;
	}

	.topslogan {
		padding-top:8px;
		padding-bottom:8px;
		padding-left:0px;
		padding-right:0px;
		color:#241815;
		margin-left:0px;
		font-family: 'Open Sans';
		font-size:16px;
		font-weight:lighter;
		text-transform:uppercase;
	}

	.toprightinfo {
		font-size: 12px;font-weight:bold;
		padding-left:0px;padding-right:0px;
	}
	.whatsappimg {
		width: 30px;
		height: 30px;
	}

	.navbtn {
		font-weight: bold;font-size:12px;padding-top:5px;padding-bottom:5px;margin-bottom:-5px;margin-top:0px;
	}

	.searchboxheading {
		font-size:26px;color:#191919;font-weight: bold;
	}

	.headingtitle {
		font-size:20px;margin-top:5px;padding-top:4px;padding-bottom:5px;padding-left:10px;padding-right:10px;
	}
	.container4 {
		width:400px;height:50px;
		font-size: 12px;
	}
	.containerbtn {
		width:400px;
		font-size: 12px;
	}
	.details {
		font-size:13px;
	}
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
		.comparebox{
	border:0px solid black;border-radius:0em;margin:0px;padding:0;
}
	/* NAV BAR TOP AREA */
	.navclass {
		padding:12px;margin-top:-10px;margin-bottom:-10px;text-align: center;
	}

	.brandlogo {
		font-size: 20px;
		padding-left:5px;padding-right:5px;
		font-weight:bold;
	}

	.topslogan {
		padding-top:8px;
		padding-bottom:8px;
		padding-left:0px;
		padding-right:0px;
		color:#241815;
		margin-left:0px;
		font-family: 'Open Sans';
		font-size:15px;
		font-weight:lighter;
		text-transform:uppercase;
	}

	.toprightinfo {
		font-size: 10px;font-weight:bold;
		padding-left:0px;padding-right:0px;
	}
	.whatsappimg {
		width: 30px;
		height: 30px;
	}

	.navbtnbottom {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom:-20px;
	}

	.navbtn {
		font-weight: bold;font-size:12px;padding-top:5px;padding-bottom:5px;margin:0px;
	}
	.tabtitle {
		font-size:11px;font-weight:bold;
	}
	.searchboxheading {
		font-family: ;font-size:23px;color:#191919;font-weight:bolder;
	}

	.searchboxstep {
		color:#241815;font-size:14px;font-weight:normal;font-family: 'Baloo Tamma';
	}

	.headingtitle {
		font-size:18px;margin-top:10px;padding-top:6px;padding-bottom:6px;padding-left:10px;padding-right:10px;
	}
	.container4 {
		width:300px;height:50px;
		font-size: 12px;
	}
	.containerbtn {
		width:300px;
		font-size: 12px;
	}
	.details {
		font-size:12px;
	}
}
