
/*///////////////////////////////////////////////////////*/
.comparison-container {
 display:table;
 width:100%;
 table-layout:fixed;
 padding-top:20px
}
/*///////////////////////////////////////////////////////*/
.comparison-product-info {
 display:table-cell;
 width:240px;
 padding-right:15px;
 vertical-align:top
}
/*///////////////////////////////////////////////////////*/
.comparison-price-info {
 display:table-cell;
 width:100%;
 vertical-align:top
}
.product-info {
 border-radius:2px;
 background:#fff;
 box-shadow:1px 1px 0 rgba(0,0,0,0.15);
 padding:15px;
 text-align:center
}
.product-info h2 {
 margin:0 0 10px;
 text-transform:uppercase;
 font-size:16px;
 line-height:16px;
 padding-top:10px
}
.price-options .title {
 text-transform:uppercase;
 font-size:12px;
 line-height:12px;
 margin:20px 0 10px;
 font-weight:bold;
 display:block;
 color:#333
}
/*///////////////////////////////////////////////////////*/
.comparison-text p {
 font-size:13px
}
storage-selectors {
 text-align:center;
 margin-bottom:3px
}
.storage-selectors h3 {
 font-size:11px;
 text-transform:uppercase;
 margin:5px 0
}
.storage-selector {
 display:inline-block;
 border:1px solid #ccc;
 border-radius:2px;
 padding:3px 5px;
 font-size:12px;
 cursor:pointer;
 margin:0 2px 5px;
 text-transform:uppercase;
 text-decoration:none;
 color:#333
}
.storage-selector:hover {
 border-color:#666;
 color:#333
}
.storage-selector.active {
 border-color:#333;
 cursor:default
}
.condition-options .selectboxit,.network-options .selectboxit {
 text-transform:uppercase
}
#top-recommended-container {
 padding:0px;
 margin-bottom:10px;
 position:relative
}
@media only screen and (max-width: 750px) {
 #top-recommended-container {
  margin-top:40px
 }
}
/*///////////////////////////////////////////////////////*/
#comparison-wrapper {
 border-radius:2px;
 background:#fff;
 box-shadow:1px 1px 0 rgba(0,0,0,0.15);
 padding:10px;
 background:#fff
}
.sell-button {
 background-color:#b60000;
 border-bottom:2px solid #830404;
 border-radius:3px;
 color:#fff;
 font-size:13px;
 padding:5px 10px;
 text-decoration:none;
 text-shadow:-1px -1px 0 rgba(0,0,0,0.15);
 text-transform:uppercase;
 font-weight:bold
}
.sell-button:hover {
 color:#fff;
 position:relative;
 top:2px
}
.top-recommended-deal .sell-button {
 font-size:19px;
 padding:5px 14px;
 white-space:nowrap
}
.top-recommended-image {
 max-width:110px;
 display:block;
 margin:0 auto 5px
}
/*///////////////////////////////////////////////////////*/
.new-product .comparison-cell.merchant .star_rating {
 /*display:inline-block*/
}
.product-info .condition-extra,.product-info .condition-extra2 {
 display:none
}
.product-info .condition-extra .label,.product-info .condition-extra2 .label {
 display:block
}
/*///////////////////////////////////////////////////////*/
.comparison-price-info .comparison-table h3 {
 text-transform:uppercase;
 font-size:10px;
 line-height:12px
}
/*///////////////////////////////////////////////////////*/
.comparison-price-info .comparison-table .outclick-button {
 border:none;
 box-shadow:none;
 border-bottom:2px solid #830404;
 font-size:14px
}
/*///////////////////////////////////////////////////////*/
.new-product .heading.sell,.new-product .comparison-cell.sell,.update-product .heading.sell,.update-product .comparison-cell.sell {
 max-width:100px
}
.new-product .small #search_form,.update-product .small #search_form {
 max-width:520px
}
.new-product .small #search_form #search_submit {
 background:#84b847;
 background-color:#ccc;
 background:#333;
 border-color:#4f8b08;
 border-color:#999;
 border-color:#000;
 border-radius:2px
}
.update-product .small #search_form #search_submit {
 background-color:#333;
 border-color:#000;
 border-radius:2px;
 color:#fff
}
.new-product .small #search_form .searchbox {
 border:1px solid #3b6c00
}
.update-product .small #search_form .searchbox {
 border:1px solid #ccc;
 box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1)
}
.new-product #search_hint,.new-product #search_hint a {
 color:#fff
}
@media only screen and (max-width: 790px) {
 /*///////////////////////////////////////////////////////*/
 .comparison-product-info {
  width:200px
 }
}
@media only screen and (max-width: 750px) {
 .new-product .share_box {
  display:none
 }
 /*///////////////////////////////////////////////////////*/
 .comparison-product-info p,.gained.off {
  display:none
 }
 .new-product .selectboxit-container * {
  font-size:11px
 }
 .network-options,.condition-options {
  border:none;
  padding:0;
  margin:0 10px;
  float:none;
  display:inline-block
 }
 .new-product .small #search_form {
  max-width:100%;
  padding-bottom:0
 }
 .new-product {
  padding:10px
 }
 /*///////////////////////////////////////////////////////*/
 .comparison-container {
  display:block;
  width:100%;
  table-layout:fixed
 }
 /*///////////////////////////////////////////////////////*/
 .comparison-product-info {
  display:block;
  padding-right:0;
  width:100%;
  vertical-align:top;
  margin-bottom:10px
 }
 /*///////////////////////////////////////////////////////*/
 .comparison-price-info {
  display:block;
  vertical-align:top
 }
 .generic-container {
  background-color:#fff;
  border-radius:3px;
  box-shadow:1px 1px 0 rgba(0,0,0,0.15);
  padding:10px;
  margin-bottom:10px
 }
 .generic-container.product-info h2 {
  padding-top:10px
 }
}
.top-recommended-deal {
 display:table;
 width:100%;
 text-align:center
}
.top-recommended-deal>span {
 display:table-cell;
 vertical-align:middle
}
.top-recommended-deal>span.title {
 padding-right:0;
 display:block;
 position:absolute;
 top:-20px;
 left:0;
 right:0;
 padding:0
}
.top-recommended-deal>span.title span {
 background:#333;
 color:#fff;
 font-weight:bold;
 text-transform:uppercase;
 font-size:17px;
 line-height:17px;
 font-size:11px;
 line-height:11px;
 padding:8px 10px;
 display:inline-block;
 transform:rotate(1deg);
 -webkit-transform:rotate(359deg);
 -moz-transform:rotate(359deg);
 -o-transform:rotate(359deg);
 -ms-transform:rotate(359deg);
 margin:0 15px;
 box-shadow:3px 3px 0 rgba(0,0,0,0.15)
}
.top-recommended-deal>span.info {
 width:100%;
 border-right:none;
 padding:0;
 background:#fff;
 border-radius:2px;
 box-shadow:1px 1px 0 rgba(0,0,0,0.15)
}
.top-recommended-deal .info-inner {
 display:table;
 width:100%
}
.top-recommended-deal .info-inner>span {
 display:table-cell;
 vertical-align:middle;
 border-right:1px solid #f2f2f2
}
.top-recommended-deal .info-inner>span.merchant {
 padding:10px
}
.top-recommended-deal .info-inner>span.price {
 font-weight:bold;
 font-size:18px;
 letter-spacing:-0.025em;
 padding:15px
}
.top-recommended-deal .info-inner>span.price .up-to-text {
 font-size:13px
}
@media only screen and (max-width: 420px) {
 .top-recommended-deal .info-inner>span.price {
  display:none
 }
}
.top-recommended-deal .info-inner>span.sell .price {
 display:none;
 font-weight:bold;
 font-size:18px;
 letter-spacing:-0.025em;
 margin-bottom:10px
}
.top-recommended-deal .info-inner>span.sell .price .up-to-text {
 font-size:13px
}
@media only screen and (max-width: 420px) {
 .top-recommended-deal .info-inner>span.sell .price {
  display:block
 }
}
.top-recommended-deal .price-info>span {
 display:table-cell;
 vertical-align:middle;
 border-right:1px solid #f2f2f2;
 padding:10px;
 vertical-align:middle
}
/*///////////////////////////////////////////////////////*/
.comparison-table {
 margin-top:0
}
/*///////////////////////////////////////////////////////*/
.comparison-table.loading-state {
 opacity:0.6
}
.loading-image {
 display:block;
 margin:20px auto
}
/*///////////////////////////////////////////////////////*/
#comparison-section .loading,#comparison-table .loading {
 position:absolute;
 width:100%;
 top:10px;
 text-align:center
}
.loading .text {
 background-color:#fff;
 display:inline-block;
 padding:60px 15px 15px;
 background-image:url('https://crstatic.com/images/loading.gif?1511967496');
 background-position:center 15px;
 background-repeat:no-repeat;
 font-size:12px;
 border-radius:2px;
 box-shadow:0 0 2px rgba(0,0,0,0.15)
}
/*///////////////////////////////////////////////////////*/
.comparison-table {
 max-width:960px;
 margin:0 auto
}
/*///////////////////////////////////////////////////////*/
.comparison-header {
 display:table;
 table-layout:fixed;
 width:100%;
 border:1px solid #ccc;
 border-bottom:none;
 font-size:13px;
 font-weight:bold;
 box-sizing:border-box
}
/*///////////////////////////////////////////////////////*/
.comparison-table .heading {
 display:table-cell;
 line-height:13px;
 font-size:10px;
 padding:10px 5px;
 text-align:center;
 border-right:1px solid #ccc;
 box-sizing:border-box;
 vertical-align:middle;
 background-color:#f2f2f2;
 box-shadow:inset 0 1px 0 #fff;
 text-transform:uppercase;
 position:relative
}
.heading:last-child {
 border-right:none
}
/*///////////////////////////////////////////////////////*/
.comparison-table h3 {
 background-color:#5e8925;
 font-size:12px;
 padding:5px 10px;
 text-shadow:-1px -1px 0 rgba(0,0,0,0.15);
 margin:0;
 color:#fff;
 text-align:left;
 text-shadow:-1px -1px 0 rgba(0,0,0,0.1);
 box-shadow:0 1px 1px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.2) inset;
 background:linear-gradient(to bottom, #73a432 0%, #528e01 100%);
 border:1px solid #5e8925
}
/*///////////////////////////////////////////////////////*/
.comparison-table h3.all-results {
 margin-top:-1px;
 color:#fff;
 text-shadow:-1px -1px 0 rgba(0,0,0,0.1);
 background:#515151;
 background:linear-gradient(to bottom, #515151 0%, #262626 100%);
 border-top:none;
 border:1px solid #000
}
/*///////////////////////////////////////////////////////*/
.comparison-row {
 display:table;
 table-layout:fixed;
 width:100%;
 border:1px solid #ccc;
 border-bottom:1px solid #eaeaea;
 border-top:none;
 box-sizing:border-box;
 text-transform:uppercase
}
/*///////////////////////////////////////////////////////*/
.comparison-row .no-price {
 background-color:#f8f8f8
}
.merchant-info-row .label {
 background-color:#f2f2f2;
 padding:4px;
 display:block;
 border:1px solid #ccc;
 box-shadow:0 1px 0 rgba(255,255,255,0.8) inset;
 cursor:pointer;
 padding:2px 4px;
 text-align:center;
 color:#878787;
 font-size:10px;
 text-transform:uppercase
}
.merchant-info-row {
 display:none
}
.more-info {
 border:1px solid #ccc;
 border-bottom:none
}
.merchant-info-row .more-info {
 font-size:0;
 display:none
}
.more-info .voucher-wrap .pence {
 font-size:8px
}
.merchant-info-row .more-info .more-info-item {
 display:inline-block;
 width:50%;
 font-size:0;
 box-sizing:border-box;
 padding:5px;
 text-align:center;
 vertical-align:top
}
.merchant-info-row .more-info .more-info-item.full {
 width:100%
}
.more-info-item .title {
 text-transform:uppercase;
 font-size:10px;
 display:block;
 vertical-align:middle;
 white-space:normal
}
.more-info-item .value {
 text-transform:uppercase;
 font-size:10px;
 display:block;
 vertical-align:middle;
 color:#333;
 white-space:normal;
 font-weight:bold
}
.merchant-info-row .more-info .more-info-item:nth-child(odd) {
 border-right:1px solid #fff
}
.merchant-info-row.active .more-info {
 display:block;
 font-size:0
}
@media only screen and (max-width: 680px) {
 /*///////////////////////////////////////////////////////*/
 .comparison-row {
  border-bottom:none;
  display:block
 }
 .merchant-info-row {
  display:block
 }
 .no-price {
  display:none
 }
}
/*///////////////////////////////////////////////////////*/
.comparison-row:last-child {
 border-bottom:1px solid #ccc
}
/*///////////////////////////////////////////////////////*/
.comparison-cell {
 display:table-cell;
 box-sizing:border-box;
 padding:5px;
 text-align:center;
 border-right:1px solid #eaeaea;
 vertical-align:middle;
 font-size:10px;
 font-weight:bold
}
/*///////////////////////////////////////////////////////*/
.comparison-cell:last-child {
 border-right:none
}
/*///////////////////////////////////////////////////////*/
.heading.merchant,.comparison-cell.merchant {
 display:block;
 width:100%;
}
/*///////////////////////////////////////////////////////*/
.comparison-cell.merchant .star_rating {
 display:none;
 display:inline-block
}
/*///////////////////////////////////////////////////////*/
.heading.rating,.comparison-cell.rating {
 width:100px
}
/*///////////////////////////////////////////////////////*/
.heading.price,.comparison-cell.price {
 width:110px
}
/*///////////////////////////////////////////////////////*/
.comparison-cell.price {
 position:relative
}
.price .broken-price-wrap {
 font-size:12px
}
.gecko-mobile .price .broken-price-wrap.gecko {
 display:none
}
.extra-conditions .price .broken-price-wrap.gecko {
 font-size:18px;
 display:block
}
.extra-conditions .gecko-mobile .broken-price-wrap.normal {
 display:none
}
.price .broken-price-wrap.gecko .up-to-text {
 display:none
}
.accurate-price-note {
 font-size:10px;
 line-height:12px;
 display:inline-block;
 margin-top:15px;
 max-width:260px
}
.accurate-price-note .accurate-price {
 margin:0 3px
}
.accurate-price {
 display:inline;
 font-size:10px;
 line-height:12px;
 color:#090;
 font-weight:bold;
 cursor:pointer
}
.price .accurate-price {
 display:none
}
.price .accurate-price.guaranteed {
 display:block;
 letter-spacing:-0.025em;
 margin-top:5px
}
.extra-conditions .price .accurate-price {
 display:block;
 position:absolute;
 bottom:5px;
 left:0;
 right:0;
 text-align:center;
 width:100%
}
.accurate-price>span {
 display:inline-block;
 background-image:url('https://crstatic.com/images/icons/valid.png?1511967496');
 background-position:left center;
 background-repeat:no-repeat;
 background-size:12px;
 padding-left:16px
}
@media only screen and (max-width: 330px) {
 .price .accurate-price {
  font-size:8px
 }
}
/*///////////////////////////////////////////////////////*/
.heading.vouchers,.comparison-cell.vouchers {
 width:100px;
 font-size:10px;
 border-bottom:none
}
/*///////////////////////////////////////////////////////*/
.heading.period,.comparison-cell.period {
 width:80px
}
/*///////////////////////////////////////////////////////*/
.heading.freepost,.comparison-cell.freepost {
 width:80px
}
/*///////////////////////////////////////////////////////*/
.heading.packaging,.comparison-cell.packaging {
 width:80px
}
/*///////////////////////////////////////////////////////*/
.heading.sell,.comparison-cell.sell {
 width:140px
}
/*///////////////////////////////////////////////////////*/
.heading.method,.comparison-cell.method {
 width:100px
}
/*///////////////////////////////////////////////////////*/
.comparison-cell.price {
 font-size:18px;
 font-weight:bold
}
/*///////////////////////////////////////////////////////*/
.comparison-cell.price .pence {
 font-size:13px
}
/*///////////////////////////////////////////////////////*/
.comparison-cell .merchant_image {
 width:75px;
 height:44px;
 overflow:hidden;
 font-size:10px;
 display:inline-block;
 font-size:0;
 margin:5px 0
}
/*///////////////////////////////////////////////////////*/
.comparison-cell .merchant-logo {
 max-width:75px;
 width:100%
}
/*///////////////////////////////////////////////////////*/
.comparison-cell.method img {
 vertical-align:middle
}
/*///////////////////////////////////////////////////////*/
.comparison-table .tick {
 width:20px;
 height:20px;
 display:inline-block;
 background-image:url('https://crstatic.com/images/responsive/icons/tick.png?1511967496');
 background-image:url('https://crstatic.com/images/responsive/icons/tick-small.png?1511967496')\9;
 background-size:100%;
 font-size:0
}
/*///////////////////////////////////////////////////////*/
.comparison-table .cross {
 width:16px;
 height:16px;
 display:inline-block;
 background-image:url('https://crstatic.com/images/responsive/icons/cross.png?1511967496');
 background-image:url('https://crstatic.com/images/responsive/icons/cross-small.png?1511967496')\9;
 background-size:100%;
 font-size:0
}
/*///////////////////////////////////////////////////////*/
.comparison-table .voucher-wrap {
 display:inline-block;
 margin:3px 0;
 height:20px
}
.voucher-wrap img {
 width:40px;
 vertical-align:top
}
.voucher-wrap .logo {
 width:40px;
 height:20px;
 background-image:url('https://crstatic.com/images/vouchers/voucher-sprite.png?1511967496');
 background-image:url('https://crstatic.com/images/vouchers/voucher-sprite-small.png?1511967496')\9;
 background-size:100%;
 font-size:0
}
.voucher-wrap .logo.argos {
 background-position:0 -20px
}
.voucher-wrap .logo.amazon {
 background-position:0 0
}
.voucher-wrap .logo.m-and-s {
 background-position:0 -40px
}
/*///////////////////////////////////////////////////////*/
.comparison-table .voucher-wrap .price {
 vertical-align:top;
 line-height:20px;
 height:20px;
 padding-left:5px
}
/*///////////////////////////////////////////////////////*/
.comparison-table .voucher-wrap .pence {
 vertical-align:top
}
/*///////////////////////////////////////////////////////*/
.comparison-table .outclick-button {
 border:1px solid #7f0000;
 border-radius:3px;
 padding:5px 9px;
 display:inline-block;
 white-space:nowrap;
 color:#fff;
 text-decoration:none;
 text-shadow:-1px -1px 0 rgba(0,0,0,0.2);
 box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
 font-weight:bold;
 font-size:15px;
 background:#b60000
}
/*///////////////////////////////////////////////////////*/
.comparison-table .outclick-button:hover {
 position:relative;
 top:2px;
 color:#333;
 color:#fff
}
/*///////////////////////////////////////////////////////*/
.comparison-table.gold .outclick-button {
 border:none;
 border-bottom:2px solid #830404;
 background:#b60000;
 box-shadow:none;
 font-size:14px;
 text-transform:none
}
@media only screen and (max-width: 930px) {
 /*///////////////////////////////////////////////////////*/
 .heading.method,.comparison-cell.method {
  display:none
 }
}
@media only screen and (max-width: 810px) {
 /*///////////////////////////////////////////////////////*/
 .heading.packaging,.comparison-cell.packaging {
  display:none
 }
}
@media only screen and (max-width: 740px) {
 /*///////////////////////////////////////////////////////*/
 .heading.vouchers,.comparison-cell.vouchers {
  display:none
 }
}
@media only screen and (max-width: 680px) {
 /*///////////////////////////////////////////////////////*/
 .comparison-table {
  margin-top:0
 }
 /*///////////////////////////////////////////////////////*/
 .comparison-table h3 {
  text-align:center
 }
 /*///////////////////////////////////////////////////////*/
 .comparison-row,.comparison-cell {
  border-color:#ccc
 }
 /*///////////////////////////////////////////////////////*/
 .gold .comparison-cell {
  border-color:#eaeaea
 }
 /*///////////////////////////////////////////////////////*/
 .heading.rating,.comparison-cell.rating,.heading.vouchers,.comparison-cell.vouchers,.heading.period,.comparison-cell.period,.heading.method,.comparison-cell.method,.heading.packaging,.comparison-cell.packaging,.heading.freepost,.comparison-cell.freepost {
  display:none
 }
 /*///////////////////////////////////////////////////////*/
 .gold .heading.rating,.gold .comparison-cell.rating,.gold .heading.period,.gold .comparison-cell.period {
  display:table-cell
 }
 .voucher-wrap {
  margin:3px 3px 0
 }
 /*///////////////////////////////////////////////////////*/
 .comparison-cell.merchant .star_rating {
  /*display:inline-block*/
  width: 100%;
 }
 /*///////////////////////////////////////////////////////*/
 .comparison-header {
  display:none
 }
 /*///////////////////////////////////////////////////////*/
 .gold .comparison-header {
  display:table
 }
 /*///////////////////////////////////////////////////////*/
 .comparison-cell.price {
  width:100%;
  display: block;
 }
}
